In [4]:
import findspark
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate() 
findspark.init()
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

#### Dataframe creation

In [5]:
# creating employee database with row function, column names
Employee = Row("fisrtname", "lastname", "email", "salary")

In [6]:
Employee

In [7]:
# create some employee data, same format
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000)
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000)
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000)
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000)

In [8]:
print(employee4)

Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)

In [9]:
# department = Row("id", "name")

# department1 = department('123456','HR')
# department2 = department('789012','OPS')
# department3 = department('345678','FN')
# department4 = department('901234','DEV')


department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

In [10]:
print(department4)

Row(id='901234', name='DEV')

In [11]:
departmentWithEmployee = Row("department", "Employees")

departmentWithEmployee_1 = departmentWithEmployee(department1, [employee1,employee2])
departmentWithEmployee_2 = departmentWithEmployee(department2, [employee2,employee3,employee4])
departmentWithEmployee_3 = departmentWithEmployee(department3, [employee4,employee1])
departmentWithEmployee_4 = departmentWithEmployee(department4, [employee3])

In [12]:
print(departmentWithEmployee_2)

Row(department=Row(id='789012', name='OPS'), Employees=[Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000), Row(fisrtname='Muriel', lastname=None, email='muriel@waterloo.edu', salary=140000), Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)])

In [13]:
# creating dataframe
departmentWithEmployee_df = [departmentWithEmployee_1, departmentWithEmployee_2]
df1 = spark.createDataFrame(departmentWithEmployee_df)

departmentWithEmployee_df = [departmentWithEmployee_2, departmentWithEmployee_4]
df2 = spark.createDataFrame(departmentWithEmployee_df)

In [14]:
df1.show()

+-------------+--------------------+
|   department|           Employees|
+-------------+--------------------+
| [123456, HR]|[[Basher, armbrus...|
|[789012, OPS]|[[Daniel, meng, d...|
+-------------+--------------------+

In [15]:
display(df2)

DataFrame[department: struct<id:string,name:string>, Employees: array<struct<fisrtname:string,lastname:string,email:string,salary:bigint>>]

In [16]:
df2.show()

+-------------+--------------------+
|   department|           Employees|
+-------------+--------------------+
|[789012, OPS]|[[Daniel, meng, d...|
|[901234, DEV]|[[Muriel,, muriel...|
+-------------+--------------------+

In [17]:
df1.collect()

[Row(department=Row(id='123456', name='HR'), Employees=[Row(fisrtname='Basher', lastname='armbrust', email='bash@edureka.co', salary=100000), Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000)]),
 Row(department=Row(id='789012', name='OPS'), Employees=[Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000), Row(fisrtname='Muriel', lastname=None, email='muriel@waterloo.edu', salary=140000), Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)])]

In [18]:
# union
unionDf = df1.union(df2)

# display(unionDf)

unionDf.show()

+-------------+--------------------+
|   department|           Employees|
+-------------+--------------------+
| [123456, HR]|[[Basher, armbrus...|
|[789012, OPS]|[[Daniel, meng, d...|
|[789012, OPS]|[[Daniel, meng, d...|
|[901234, DEV]|[[Muriel,, muriel...|
+-------------+--------------------+

In [19]:
intersectionDf = df1.intersect(df2)

# display(intersectionDf)

intersectionDf.show()

+-------------+--------------------+
|   department|           Employees|
+-------------+--------------------+
|[789012, OPS]|[[Daniel, meng, d...|
+-------------+--------------------+

In [20]:
unionDf.select('Employees').show()

+--------------------+
|           Employees|
+--------------------+
|[[Basher, armbrus...|
|[[Daniel, meng, d...|
|[[Daniel, meng, d...|
|[[Muriel,, muriel...|
+--------------------+

In [21]:
# explode - Returns a new row for each element in the given array
explodeDf = unionDf.select(explode('Employees').alias('Emp'))

In [22]:
explodeDf.show()

+--------------------+
|                 Emp|
+--------------------+
|[Basher, armbrust...|
|[Daniel, meng, da...|
|[Daniel, meng, da...|
|[Muriel,, muriel@...|
|[Rachel, wendell,...|
|[Daniel, meng, da...|
|[Muriel,, muriel@...|
|[Rachel, wendell,...|
|[Muriel,, muriel@...|
+--------------------+

In [23]:
# variant of select, accept SQL expressions
flatDf = explodeDf.selectExpr("Emp.fisrtname", "Emp.lastname", "Emp.email","Emp.salary")

In [24]:
flatDf.show()

+---------+--------+-------------------+------+
|fisrtname|lastname|              email|salary|
+---------+--------+-------------------+------+
|   Basher|armbrust|    bash@edureka.co|100000|
|   Daniel|    meng|daniel@stanford.edu|120000|
|   Daniel|    meng|daniel@stanford.edu|120000|
|   Muriel|    null|muriel@waterloo.edu|140000|
|   Rachel| wendell|  rach_3@edureka.co|160000|
|   Daniel|    meng|daniel@stanford.edu|120000|
|   Muriel|    null|muriel@waterloo.edu|140000|
|   Rachel| wendell|  rach_3@edureka.co|160000|
|   Muriel|    null|muriel@waterloo.edu|140000|
+---------+--------+-------------------+------+

#### Reading Data from CSV file and performing actions

In [25]:
# Reading data from csv
house_df = spark.read.csv("house_data.csv", inferSchema= True, header = True)

In [26]:
# print results
house_df.show(3)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|      Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 3 rows

In [27]:
# return list of rows
house_df.take(3)

[Row(build_year=1990, lat=47.00980759, living_area=110, long=8.483789444, municipality_name='Vitznau', zipcode=6354, num_rooms=3, object_type_name='Wohnung', price=815000, water_percentage_1000=0.400565383, travel_time_private_transport=35, travel_time_public_transport=102, number_of_buildings_in_hectare=10, number_of_apartments_in_hectare=26, number_of_workplaces_in_hectare=7, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=7, population_in_hectare=34),
 Row(build_year=2017, lat=46.87217712, living_area=120, long=9.88018322, municipality_name='Klosters-Serneus', zipcode=7250, num_rooms=3, object_type_name='Wohnung', price=890000, water_percentage_1000=0.008272204, travel_time_private_transport=85, travel_time_public_transport=112, number_of_buildings_in_hectare=7, number_of_apartments_in_hectare=54, number_of_workplaces_in_hectare=3, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=3, population_in_hectare=44),
 Row(build_year=2010, lat=46.51917267, living_area=107, long=6.525881767, municipality_name='Préverenges', zipcode=1028, num_rooms=4, object_type_name='Wohnung', price=870000, water_percentage_1000=0.140533804, travel_time_private_transport=9, travel_time_public_transport=25, number_of_buildings_in_hectare=5, number_of_apartments_in_hectare=39, number_of_workplaces_in_hectare=3, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=3, number_of_workplaces_sector_3_in_hectare=0, population_in_hectare=89)]

In [28]:
# to get structure of dataframe
house_df.printSchema()

root
 |-- build_year: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- living_area: integer (nullable = true)
 |-- long: double (nullable = true)
 |-- municipality_name: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- num_rooms: integer (nullable = true)
 |-- object_type_name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- water_percentage_1000: double (nullable = true)
 |-- travel_time_private_transport: integer (nullable = true)
 |-- travel_time_public_transport: integer (nullable = true)
 |-- number_of_buildings_in_hectare: integer (nullable = true)
 |-- number_of_apartments_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_1_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_2_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_3_in_hectare: integer (nullable = true)
 |-- population_in_hectare: integer (nullable = true)

In [29]:
# column names
house_df.columns

['build_year',
 'lat',
 'living_area',
 'long',
 'municipality_name',
 'zipcode',
 'num_rooms',
 'object_type_name',
 'price',
 'water_percentage_1000',
 'travel_time_private_transport',
 'travel_time_public_transport',
 'number_of_buildings_in_hectare',
 'number_of_apartments_in_hectare',
 'number_of_workplaces_in_hectare',
 'number_of_workplaces_sector_1_in_hectare',
 'number_of_workplaces_sector_2_in_hectare',
 'number_of_workplaces_sector_3_in_hectare',
 'population_in_hectare']

In [30]:
# row count 
house_df.count()

998

In [31]:
# column count
len(house_df.columns)

19

In [32]:
# to get statistical summary of given column
house_df.describe('num_rooms').show()

+-------+------------------+
|summary|         num_rooms|
+-------+------------------+
|  count|               998|
|   mean| 4.079158316633267|
| stddev|0.9073125929965935|
|    min|                 2|
|    max|                 9|
+-------+------------------+

In [33]:
type(house_df)

pyspark.sql.dataframe.DataFrame

In [34]:
# to select columns
house_df.select('lat','long').show(5)

+-----------+-----------+
|        lat|       long|
+-----------+-----------+
|47.00980759|8.483789444|
|46.87217712| 9.88018322|
|46.51917267|6.525881767|
|47.52134323|8.536971092|
|46.51021576|9.852426529|
+-----------+-----------+
only showing top 5 rows

In [35]:
house_df.filter(house_df.price == 999000).show()

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2015|46.12470627|         85|8.712854385|         Brissago|   6614|        3|         Wohnung|999000|          0.348834175|                           41|                          89|                            15|                             36|                              3|                                       0|                                       0|                                       3|                   21|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+

In [36]:
house_df.filter( (col('build_year')==2010) | (col('build_year')==2018)).show(3)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2010|46.51917267|        107|6.525881767|      Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
|      2018|47.52134323|        103|8.536971092|           Bülach|   8180|        3|         Wohnung|829000|          0.003954127|                           14|                          18|                             2|                              2|                              3|                                       0|                                       3|                                       0|                    4|
|      2018|46.46045303|        118|6.208910942|  Arzier-Le Muids|   1273|        4|         Wohnung|847000|                  0.0|                           27|                          45|                             6|                             26|                              7|                                       0|                                       0|                                       7|                   61|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 3 rows

In [37]:
house_df.where(col('num_rooms').isNull()).show()

+----------+---+-----------+----+-----------------+-------+---------+----------------+-----+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|lat|living_area|long|municipality_name|zipcode|num_rooms|object_type_name|price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+---+-----------+----+-----------------+-------+---------+----------------+-----+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
+----------+---+-----------+----+-----------------+-------+---------+----------------+-----+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+

In [38]:
house_df.select(col('build_year')).where(col('num_rooms')==4).show()

+----------+
|build_year|
+----------+
|      2010|
|      2015|
|      2016|
|      2008|
|      2018|
|      2015|
|      2017|
|      2005|
|      2017|
|      2001|
|      2019|
|      2005|
|      2019|
|      2007|
|      1594|
|      2002|
|      2015|
|      2015|
|      1999|
|      2018|
+----------+
only showing top 20 rows

In [39]:
house_df.select('num_rooms').show(10)

+---------+
|num_rooms|
+---------+
|        3|
|        3|
|        4|
|        3|
|        3|
|        4|
|        4|
|        3|
|        3|
|        4|
+---------+
only showing top 10 rows

In [40]:
# distinct values of a column
house_df.select('num_rooms').distinct().show()

+---------+
|num_rooms|
+---------+
|        6|
|        3|
|        5|
|        9|
|        4|
|        8|
|        7|
|        2|
+---------+

In [41]:
house_df.filter(house_df.num_rooms==7).count()

8

In [42]:
house_df.filter((house_df.num_rooms>=3) & (house_df.num_rooms<=6)).show(5)

+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|  municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|            Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322|   Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|        Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
|      2018|47.52134323|        103|8.536971092|             Bülach|   8180|        3|         Wohnung|829000|          0.003954127|                           14|                          18|                             2|                              2|                              3|                                       0|                                       3|                                       0|                    4|
|      2007|46.51021576|         95|9.852426529|Celerina/Schlarigna|   7505|        3|         Wohnung|865000|          0.011115952|                          101|                         198|                             9|                             45|                              3|                                       0|                                       3|                                       3|                   85|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows

In [43]:
# to sort data, by default sorts in ascending order
house_df.orderBy(house_df.num_rooms,ascending = False).show(5)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name|  price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2013|46.21482468|        260|9.033567429|       Bellinzona|   6503|        9|       Sonstiges|1395000|          0.070289513|                           26|                          25|                             6|                              8|                              3|                                       0|                                       0|                                       3|                   25|
|      1981|47.08975983|        340|  7.5865345|   Kirchberg (BE)|   3422|        8|       Sonstiges|1350000|          0.016264137|                           16|                          39|                             7|                             25|                              0|                                       0|                                       0|                                       0|                   43|
|      1998|47.32530594|        315|8.199128151|          Seengen|   5707|        7|         Wohnung|1480000|          0.030235315|                           31|                          53|                             5|                             41|                              3|                                       0|                                       0|                                       3|                   89|
|      1981| 46.3794899|        168|7.632205009|        Leukerbad|   3954|        7|         Wohnung|1220000|                  0.0|                           80|                         124|                             2|                             14|                              0|                                       0|                                       0|                                       0|                    0|
|      1950|47.13293076|        160|8.137594223|          Nottwil|   6207|        7|       Sonstiges| 890000|          0.154618888|                           41|                          61|                             4|                             13|                              8|                                       3|                                       3|                                       5|                   24|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows

In [44]:
house_df.filter(house_df.build_year == 2015).orderBy(house_df.num_rooms,ascending=False).show(7)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name|  price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2015|47.10408401|        139| 8.67745018|      Rothenthurm|   6418|        6|         Wohnung| 830000|                  0.0|                           29|                          64|                            13|                             23|                              4|                                       0|                                       0|                                       4|                   39|
|      2015|46.31029892|        180|7.513340473|         Randogne|   3975|        6|       Sonstiges|1255000|              5.53E-5|                           69|                         116|                             2|                             20|                              0|                                       0|                                       0|                                       0|                   13|
|      2015|47.26880264|        180|8.483176231|  Aeugst am Albis|   8914|        5|         Wohnung|1250000|              6.94E-5|                           18|                          30|                            14|                             27|                              4|                                       0|                                       0|                                       4|                   60|
|      2015|47.62506104|        195|9.240677834|    Münsterlingen|   8597|        5|         Wohnung|1150000|          0.063903175|                           46|                          96|                             5|                             11|                              4|                                       3|                                       0|                                       3|                   19|
|      2015|47.46987534|        162|8.402927399|        Boppelsen|   8113|        5|       Sonstiges|1290000|           3.43293E-4|                           14|                          13|                            10|                             49|                              5|                                       0|                                       3|                                       4|                  109|
|      2015| 47.5010376|        287|8.348413467|      Ehrendingen|   5420|        5|       Sonstiges|1490000|          0.005347793|                           23|                          39|                             7|                             23|                              3|                                       0|                                       0|                                       3|                   61|
|      2015|47.41524506|        149|9.254723549|      Gossau (SG)|   9200|        5|         Wohnung|1170000|          0.001012563|                           42|                          64|                             3|                             17|                              3|                                       0|                                       3|                                       0|                   62|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 7 rows

In [45]:
house_df.orderBy(house_df.num_rooms).show(5)

+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|   municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2015|47.39081192|        101|8.061793327|               Aarau|   5000|        2|         Wohnung|800000|           0.00191505|                           28|                          26|                             7|                             21|                              3|                                       0|                                       3|                                       0|                   45|
|      2019|47.40680695|         65|8.560557365|              Zürich|   8050|        2|         Wohnung|990000|          0.003758925|                            0|                           0|                            13|                             52|                              3|                                       0|                                       0|                                       3|                  146|
|      2018| 47.4246788|         82|  8.4006567|Oetwil an der Limmat|   8955|        2|         Wohnung|850000|          0.046031682|                           11|                          26|                             7|                             10|                              3|                                       0|                                       0|                                       3|                   29|
|      2017|46.98397827|        108|9.570403099|              Malans|   7208|        2|         Wohnung|843180|                  0.0|                           59|                          76|                             4|                             12|                              0|                                       0|                                       0|                                       0|                   23|
|      1977|46.79380798|         46|  9.8231287|               Davos|   7270|        2|         Wohnung|330000|          0.007664552|                           95|                         141|                             6|                             32|                              4|                                       0|                                       0|                                       4|                   37|
+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows

In [46]:
house_df.filter(house_df.build_year == 2015).count()

41

In [47]:
# to group dataframe based on column
house_df.groupBy(house_df.build_year).count().show()

+----------+-----+
|build_year|count|
+----------+-----+
|      1829|    1|
|      1990|   17|
|      1975|    6|
|      1977|    4|
|      2003|   13|
|      2007|   24|
|      2018|  142|
|      1974|    8|
|      2015|   41|
|      1871|    2|
|      1019|    1|
|      2006|   20|
|      1978|    4|
|      1925|    1|
|      2013|   38|
|      1785|    1|
|      1956|    1|
|      1997|    7|
|      1988|    6|
|      1994|    5|
+----------+-----+
only showing top 20 rows

In [48]:
house_df.groupBy(col('build_year'),col('num_rooms')).count().orderBy(col('build_year'),ascending=False).show(5)

+----------+---------+-----+
|build_year|num_rooms|count|
+----------+---------+-----+
|      2020|        2|    1|
|      2020|        3|    7|
|      2020|        4|    7|
|      2020|        5|    2|
|      2019|        3|   17|
+----------+---------+-----+
only showing top 5 rows

In [49]:
house_df.filter(col('build_year')==2020).agg({'population_in_hectare':'sum'}).show()

+--------------------------+
|sum(population_in_hectare)|
+--------------------------+
|                       393|
+--------------------------+

#### Performing SQL Queries

In [50]:
# passing SQL queries directly to any dataframe
# create table from dataframe
house_df.registerTempTable('house_table')

In [51]:
# pass sql query
sqlContext.sql('select * from house_table').show(5)

+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|  municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|            Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322|   Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|        Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
|      2018|47.52134323|        103|8.536971092|             Bülach|   8180|        3|         Wohnung|829000|          0.003954127|                           14|                          18|                             2|                              2|                              3|                                       0|                                       3|                                       0|                    4|
|      2007|46.51021576|         95|9.852426529|Celerina/Schlarigna|   7505|        3|         Wohnung|865000|          0.011115952|                          101|                         198|                             9|                             45|                              3|                                       0|                                       3|                                       3|                   85|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows

In [52]:
sqlContext.sql('select distinct(num_rooms) from house_table').show()

+---------+
|num_rooms|
+---------+
|        6|
|        3|
|        5|
|        9|
|        4|
|        8|
|        7|
|        2|
+---------+

In [53]:
sqlContext.sql('select max(build_year) from house_table').show()

+---------------+
|max(build_year)|
+---------------+
|           2020|
+---------------+