In [1]:
!pip install findspark
!pip install pyspark
import findspark
import pyspark
findspark.init()
sc = pyspark.SparkContext.getOrCreate()

Requirement already satisfied: findspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.0)
Requirement already satisfied: pyspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pyspark) (0.10.7)

In [2]:
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate()

In [3]:
# creating employee database with row function, column names
Employee = Row("fisrtname", "lastname", "email", "salary")

In [4]:
Employee

In [5]:
# create some employee data, same format
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000)
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000)
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000)
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000)

In [6]:
print(employee4)

Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)

In [7]:
# department = Row("id", "name")

# department1 = department('123456','HR')
# department2 = department('789012','OPS')
# department3 = department('345678','FN')
# department4 = department('901234','DEV')


department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

In [8]:
print(department4)

Row(id='901234', name='DEV')

In [9]:
departmentWithEmployee = Row("department", "Employees")

departmentWithEmployee_1 = departmentWithEmployee(department1, [employee1,employee2])
departmentWithEmployee_2 = departmentWithEmployee(department2, [employee2,employee3,employee4])
departmentWithEmployee_3 = departmentWithEmployee(department3, [employee4,employee1])
departmentWithEmployee_4 = departmentWithEmployee(department4, [employee3])

In [10]:
print(departmentWithEmployee_2)

Row(department=Row(id='789012', name='OPS'), Employees=[Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000), Row(fisrtname='Muriel', lastname=None, email='muriel@waterloo.edu', salary=140000), Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)])

In [11]:
departmentWithEmployee_df = [departmentWithEmployee_1, departmentWithEmployee_2]

In [12]:
df = spark.createDataFrame(departmentWithEmployee_df)

In [13]:
display(df)

DataFrame[department: struct<id:string,name:string>, Employees: array<struct<fisrtname:string,lastname:string,email:string,salary:bigint>>]

In [14]:
df.show()

+-------------+--------------------+
|   department|           Employees|
+-------------+--------------------+
| [123456, HR]|[[Basher, armbrus...|
|[789012, OPS]|[[Daniel, meng, d...|
+-------------+--------------------+

In [15]:
df.collect()

[Row(department=Row(id='123456', name='HR'), Employees=[Row(fisrtname='Basher', lastname='armbrust', email='bash@edureka.co', salary=100000), Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000)]),
 Row(department=Row(id='789012', name='OPS'), Employees=[Row(fisrtname='Daniel', lastname='meng', email='daniel@stanford.edu', salary=120000), Row(fisrtname='Muriel', lastname=None, email='muriel@waterloo.edu', salary=140000), Row(fisrtname='Rachel', lastname='wendell', email='rach_3@edureka.co', salary=160000)])]

In [16]:
house_df = spark.read.csv("house_data.csv", header = True)

In [17]:
house_df.show(3)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|      Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 3 rows

In [18]:
house_df.printSchema()

root
 |-- build_year: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- living_area: string (nullable = true)
 |-- long: string (nullable = true)
 |-- municipality_name: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- num_rooms: string (nullable = true)
 |-- object_type_name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- water_percentage_1000: string (nullable = true)
 |-- travel_time_private_transport: string (nullable = true)
 |-- travel_time_public_transport: string (nullable = true)
 |-- number_of_buildings_in_hectare: string (nullable = true)
 |-- number_of_apartments_in_hectare: string (nullable = true)
 |-- number_of_workplaces_in_hectare: string (nullable = true)
 |-- number_of_workplaces_sector_1_in_hectare: string (nullable = true)
 |-- number_of_workplaces_sector_2_in_hectare: string (nullable = true)
 |-- number_of_workplaces_sector_3_in_hectare: string (nullable = true)
 |-- population_in_hectare: string (nullable = true)

In [19]:
house_df.columns

['build_year',
 'lat',
 'living_area',
 'long',
 'municipality_name',
 'zipcode',
 'num_rooms',
 'object_type_name',
 'price',
 'water_percentage_1000',
 'travel_time_private_transport',
 'travel_time_public_transport',
 'number_of_buildings_in_hectare',
 'number_of_apartments_in_hectare',
 'number_of_workplaces_in_hectare',
 'number_of_workplaces_sector_1_in_hectare',
 'number_of_workplaces_sector_2_in_hectare',
 'number_of_workplaces_sector_3_in_hectare',
 'population_in_hectare']

In [20]:
house_df.count()

999

In [21]:
len(house_df.columns)

19

In [22]:
house_df.describe('num_rooms').show()

+-------+------------------+
|summary|         num_rooms|
+-------+------------------+
|  count|               999|
|   mean| 4.078078078078078|
| stddev|0.9075004264229438|
|    min|                 2|
|    max|                 9|
+-------+------------------+

In [23]:
type(house_df)

pyspark.sql.dataframe.DataFrame

In [24]:
house_df.select('lat','long').show(5)

+-----------+-----------+
|        lat|       long|
+-----------+-----------+
|47.00980759|8.483789444|
|46.87217712| 9.88018322|
|46.51917267|6.525881767|
|47.52134323|8.536971092|
|46.51021576|9.852426529|
+-----------+-----------+
only showing top 5 rows

In [25]:
house_df.filter(house_df.price == 999000).show()

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2015|46.12470627|         85|8.712854385|         Brissago|   6614|        3|         Wohnung|999000|          0.348834175|                           41|                          89|                            15|                             36|                              3|                                       0|                                       0|                                       3|                   21|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+

In [26]:
house_df.select('num_rooms').show(10)

+---------+
|num_rooms|
+---------+
|        3|
|        3|
|        4|
|        3|
|        3|
|        4|
|        4|
|        3|
|        3|
|        4|
+---------+
only showing top 10 rows

In [27]:
house_df.select('num_rooms').distinct().show()

+---------+
|num_rooms|
+---------+
|        7|
|        3|
|        8|
|        5|
|        6|
|        9|
|        4|
|        2|
+---------+

In [28]:
house_df.filter(house_df.num_rooms==7).count()

8

In [29]:
house_df.filter((house_df.num_rooms>=3) & (house_df.num_rooms<=6)).show()

+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|  municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|            Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322|   Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|        Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
|      2018|47.52134323|        103|8.536971092|             Bülach|   8180|        3|         Wohnung|829000|          0.003954127|                           14|                          18|                             2|                              2|                              3|                                       0|                                       3|                                       0|                    4|
|      2007|46.51021576|         95|9.852426529|Celerina/Schlarigna|   7505|        3|         Wohnung|865000|          0.011115952|                          101|                         198|                             9|                             45|                              3|                                       0|                                       3|                                       3|                   85|
|      2015|47.53541946|        112|7.710394859|              Augst|   4302|        4|         Wohnung|849000|          0.081795298|                           10|                          16|                             3|                             30|                              3|                                       0|                                       0|                                       3|                   69|
|      2016|47.44316864|        119| 8.67109108|             Lindau|   8315|        4|         Wohnung|840000|                    0|                           13|                          24|                             2|                             11|                              0|                                       0|                                       0|                                       0|                   10|
|      1978|47.53750229|         96|7.571207523|          Binningen|   4102|        3|         Wohnung|895000|          0.004377133|                            4|                          10|                             8|                             50|                             17|                                       0|                                       0|                                      17|                  110|
|      1990|46.86417389|        127|9.881011963|   Klosters-Serneus|   7250|        3|         Wohnung|865000|          0.014617055|                           85|                         112|                             7|                             39|                              3|                                       0|                                       0|                                       3|                   28|
|      2008|47.11698914|        110|8.775629997|         Einsiedeln|   8841|        4|         Wohnung|870000|          0.376262177|                           27|                          42|                             6|                             29|                              3|                                       0|                                       0|                                       3|                   54|
|      2018|46.46045303|        118|6.208910942|    Arzier-Le Muids|   1273|        4|         Wohnung|847000|                    0|                           27|                          45|                             6|                             26|                              7|                                       0|                                       0|                                       7|                   61|
|      2015|47.62913895|        137|9.247052193|      Münsterlingen|   8597|        4|         Wohnung|890000|          0.420068675|                           46|                          96|                             6|                             12|                              0|                                       0|                                       0|                                       0|                   25|
|      2017|46.67969513|        109|7.665390015|              Spiez|   3700|        4|         Wohnung|870000|          0.020692061|                           23|                          34|                             3|                              5|                              0|                                       0|                                       0|                                       0|                    6|
|      2018|46.87598801|        177|7.638694763|      Niederhünigen|   3504|        5|         Wohnung|710000|                    0|                           15|                          36|                             2|                              6|                              0|                                       0|                                       0|                                       0|                    5|
|      1973|46.79772186|        100|9.821581841|              Davos|   7270|        5|         Wohnung|765000|           0.00648411|                           95|                         141|                             5|                             40|                              0|                                       0|                                       0|                                       0|                   20|
|      2005|46.79140091|        104|9.262372017|             Sagogn|   7152|        4|         Wohnung|852000|          0.168258667|                           84|                         137|                             7|                             13|                              0|                                       0|                                       0|                                       0|                   16|
|      1967| 46.2977066|         92|7.054903507|              Ollon|   1884|        3|         Wohnung|895000|                    0|                           39|                          45|                             7|                             25|                             13|                                       0|                                       3|                                      12|                   27|
|      2017|47.55044937|        130|  9.1484375|       Bürglen (TG)|   8575|        4|         Wohnung|893000|          0.129177712|                           41|                          62|                             3|                             17|                              3|                                       0|                                       3|                                       0|                   22|
|      2017|46.88021851|        117|  8.6463871|       Altdorf (UR)|   6460|        3|         Wohnung|880000|                    0|                           49|                          87|                             6|                             40|                              6|                                       0|                                       3|                                       5|                   55|
|         1|46.10593414|         73|7.228157043|             Bagnes|   1936|        3|         Wohnung|890000|          0.000268458|                           59|                          86|                             4|                             21|                              0|                                       0|                                       0|                                       0|                    3|
+----------+-----------+-----------+-----------+-------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 20 rows

In [30]:
house_df.orderBy(house_df.num_rooms,ascending = False).show(5)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name|  price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2013|46.21482468|        260|9.033567429|       Bellinzona|   6503|        9|       Sonstiges|1395000|          0.070289513|                           26|                          25|                             6|                              8|                              3|                                       0|                                       0|                                       3|                   25|
|      1981|47.08975983|        340|  7.5865345|   Kirchberg (BE)|   3422|        8|       Sonstiges|1350000|          0.016264137|                           16|                          39|                             7|                             25|                              0|                                       0|                                       0|                                       0|                   43|
|      1998|47.32530594|        315|8.199128151|          Seengen|   5707|        7|         Wohnung|1480000|          0.030235315|                           31|                          53|                             5|                             41|                              3|                                       0|                                       0|                                       3|                   89|
|      1981| 46.3794899|        168|7.632205009|        Leukerbad|   3954|        7|         Wohnung|1220000|                    0|                           80|                         124|                             2|                             14|                              0|                                       0|                                       0|                                       0|                    0|
|      1950|47.13293076|        160|8.137594223|          Nottwil|   6207|        7|       Sonstiges| 890000|          0.154618888|                           41|                          61|                             4|                             13|                              8|                                       3|                                       3|                                       5|                   24|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+-------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows

In [31]:
house_df.orderBy(house_df.num_rooms).show(5)

+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|   municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      2015|47.39081192|        101|8.061793327|               Aarau|   5000|        2|         Wohnung|800000|           0.00191505|                           28|                          26|                             7|                             21|                              3|                                       0|                                       3|                                       0|                   45|
|      2019|47.40680695|         65|8.560557365|              Zürich|   8050|        2|         Wohnung|990000|          0.003758925|                            0|                           0|                            13|                             52|                              3|                                       0|                                       0|                                       3|                  146|
|      2018| 47.4246788|         82|  8.4006567|Oetwil an der Limmat|   8955|        2|         Wohnung|850000|          0.046031682|                           11|                          26|                             7|                             10|                              3|                                       0|                                       0|                                       3|                   29|
|      2017|46.98397827|        108|9.570403099|              Malans|   7208|        2|         Wohnung|843180|                    0|                           59|                          76|                             4|                             12|                              0|                                       0|                                       0|                                       0|                   23|
|      1977|46.79380798|         46|  9.8231287|               Davos|   7270|        2|         Wohnung|330000|          0.007664552|                           95|                         141|                             6|                             32|                              4|                                       0|                                       0|                                       4|                   37|
+----------+-----------+-----------+-----------+--------------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 5 rows