In [1]:
import findspark
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import *
from pyspark.sql.types import *
spark = SparkSession.builder.getOrCreate() 
findspark.init()
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

Requirement already satisfied: findspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.0)
Requirement already satisfied: pyspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pyspark) (0.10.7)

In [2]:
house_df = spark.read.csv('house_data.csv',inferSchema= True, header = True)

In [3]:
house_df.printSchema()

root
 |-- build_year: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- living_area: integer (nullable = true)
 |-- long: double (nullable = true)
 |-- municipality_name: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- num_rooms: integer (nullable = true)
 |-- object_type_name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- water_percentage_1000: double (nullable = true)
 |-- travel_time_private_transport: integer (nullable = true)
 |-- travel_time_public_transport: integer (nullable = true)
 |-- number_of_buildings_in_hectare: integer (nullable = true)
 |-- number_of_apartments_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_1_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_2_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_3_in_hectare: integer (nullable = true)
 |-- population_in_hectare: integer (nullable = true)

In [4]:
house_df.describe()

DataFrame[summary: string, build_year: string, lat: string, living_area: string, long: string, municipality_name: string, zipcode: string, num_rooms: string, object_type_name: string, price: string, water_percentage_1000: string, travel_time_private_transport: string, travel_time_public_transport: string, number_of_buildings_in_hectare: string, number_of_apartments_in_hectare: string, number_of_workplaces_in_hectare: string, number_of_workplaces_sector_1_in_hectare: string, number_of_workplaces_sector_2_in_hectare: string, number_of_workplaces_sector_3_in_hectare: string, population_in_hectare: string]

In [5]:
house_df.take(2)

[Row(build_year=1990, lat=47.00980759, living_area=110, long=8.483789444, municipality_name='Vitznau', zipcode=6354, num_rooms=3, object_type_name='Wohnung', price=815000, water_percentage_1000=0.400565383, travel_time_private_transport=35, travel_time_public_transport=102, number_of_buildings_in_hectare=10, number_of_apartments_in_hectare=26, number_of_workplaces_in_hectare=7, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=7, population_in_hectare=34),
 Row(build_year=2017, lat=46.87217712, living_area=120, long=9.88018322, municipality_name='Klosters-Serneus', zipcode=7250, num_rooms=3, object_type_name='Wohnung', price=890000, water_percentage_1000=0.008272204, travel_time_private_transport=85, travel_time_public_transport=112, number_of_buildings_in_hectare=7, number_of_apartments_in_hectare=54, number_of_workplaces_in_hectare=3, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=3, population_in_hectare=44)]

In [6]:
house_df.show(3)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|      Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 3 rows

In [7]:
display(house_df)

DataFrame[build_year: int, lat: double, living_area: int, long: double, municipality_name: string, zipcode: int, num_rooms: int, object_type_name: string, price: int, water_percentage_1000: double, travel_time_private_transport: int, travel_time_public_transport: int, number_of_buildings_in_hectare: int, number_of_apartments_in_hectare: int, number_of_workplaces_in_hectare: int, number_of_workplaces_sector_1_in_hectare: int, number_of_workplaces_sector_2_in_hectare: int, number_of_workplaces_sector_3_in_hectare: int, population_in_hectare: int]

In [8]:
h_df = spark.read.format("csv").option("inferSchema", True).option("header",True).load("house_data.csv")

In [9]:
h_df.show(2)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 2 rows

In [10]:
h_df.registerTempTable("h_table")

In [11]:
sqlContext.sql('select * from h_table').show(2)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 2 rows

In [12]:
selected_df = house_df.select('build_year','municipality_name','living_area','price', 'num_rooms')

In [13]:
selected_df.show(4)

+----------+-----------------+-----------+------+---------+
|build_year|municipality_name|living_area| price|num_rooms|
+----------+-----------------+-----------+------+---------+
|      1990|          Vitznau|        110|815000|        3|
|      2017| Klosters-Serneus|        120|890000|        3|
|      2010|      Préverenges|        107|870000|        4|
|      2018|           Bülach|        103|829000|        3|
+----------+-----------------+-----------+------+---------+
only showing top 4 rows

In [14]:
selected_df.count()

998

In [15]:
selected_df.select('living_area').distinct().count()

166

In [16]:
selected_df.dropDuplicates(subset = ['living_area']).count()

166

In [17]:
selected_df.withColumn('test_column',lit('this is a test')).show(3)

+----------+-----------------+-----------+------+---------+--------------+
|build_year|municipality_name|living_area| price|num_rooms|   test_column|
+----------+-----------------+-----------+------+---------+--------------+
|      1990|          Vitznau|        110|815000|        3|this is a test|
|      2017| Klosters-Serneus|        120|890000|        3|this is a test|
|      2010|      Préverenges|        107|870000|        4|this is a test|
+----------+-----------------+-----------+------+---------+--------------+
only showing top 3 rows

In [18]:
selected_df.withColumn('price_label',when(col('price')>890000,lit('expensive')).otherwise('Reasonable')).show()

+----------+-------------------+-----------+------+---------+-----------+
|build_year|  municipality_name|living_area| price|num_rooms|price_label|
+----------+-------------------+-----------+------+---------+-----------+
|      1990|            Vitznau|        110|815000|        3| Reasonable|
|      2017|   Klosters-Serneus|        120|890000|        3| Reasonable|
|      2010|        Préverenges|        107|870000|        4| Reasonable|
|      2018|             Bülach|        103|829000|        3| Reasonable|
|      2007|Celerina/Schlarigna|         95|865000|        3| Reasonable|
|      2015|              Augst|        112|849000|        4| Reasonable|
|      2016|             Lindau|        119|840000|        4| Reasonable|
|      1978|          Binningen|         96|895000|        3|  expensive|
|      1990|   Klosters-Serneus|        127|865000|        3| Reasonable|
|      2008|         Einsiedeln|        110|870000|        4| Reasonable|
|      2018|    Arzier-Le Muids|        118|847000|        4| Reasonable|
|      2015|      Münsterlingen|        137|890000|        4| Reasonable|
|      2017|              Spiez|        109|870000|        4| Reasonable|
|      2018|      Niederhünigen|        177|710000|        5| Reasonable|
|      1973|              Davos|        100|765000|        5| Reasonable|
|      2005|             Sagogn|        104|852000|        4| Reasonable|
|      1967|              Ollon|         92|895000|        3|  expensive|
|      2017|       Bürglen (TG)|        130|893000|        4|  expensive|
|      2017|       Altdorf (UR)|        117|880000|        3| Reasonable|
|      2001|         Einsiedeln|        137|835000|        4| Reasonable|
+----------+-------------------+-----------+------+---------+-----------+
only showing top 20 rows

In [19]:
selected_df.drop(col('living_area')).show(3)

+----------+-----------------+------+---------+
|build_year|municipality_name| price|num_rooms|
+----------+-----------------+------+---------+
|      1990|          Vitznau|815000|        3|
|      2017| Klosters-Serneus|890000|        3|
|      2010|      Préverenges|870000|        4|
+----------+-----------------+------+---------+
only showing top 3 rows

In [20]:
selected_df.filter(col('municipality_name').like("%au")).show()

+----------+-----------------+-----------+-------+---------+
|build_year|municipality_name|living_area|  price|num_rooms|
+----------+-----------------+-----------+-------+---------+
|      1990|          Vitznau|        110| 815000|        3|
|      2016|           Lindau|        119| 840000|        4|
|      2019|          Menznau|        123| 820000|        4|
|      2007|       Diepoldsau|        145| 820000|        4|
|      2008|            Aarau|        110| 885000|        3|
|      2015|            Aarau|        120| 860000|        3|
|      2019|       Diepoldsau|        142| 855000|        4|
|      2009|          Eglisau|        100| 850000|        4|
|      2015|            Aarau|        101| 800000|        2|
|      2015|            Aarau|        119| 860000|        4|
|      1983|           Gersau|        150| 850000|        6|
|      1983|          Eglisau|        152| 835000|        5|
|      1992|         Wollerau|        102| 960000|        3|
|      2018|          Aristau|        198| 965000|        5|
|      2014|            Aarau|        131| 940000|        4|
|      2011|          Hittnau|        161|1155000|        4|
|      2014|            Aarau|        131| 940000|        4|
|      2016|          Vitznau|        199|2960000|        4|
|      2013|          Eglisau|        141| 998000|        4|
|      2013|          Vitznau|        125|1230000|        4|
+----------+-----------------+-----------+-------+---------+
only showing top 20 rows

In [21]:
selected_df.filter(col('num_rooms').isin(2,6)).show(4)

+----------+--------------------+-----------+------+---------+
|build_year|   municipality_name|living_area| price|num_rooms|
+----------+--------------------+-----------+------+---------+
|      2015|               Aarau|        101|800000|        2|
|      2018|Oetwil an der Limmat|         82|850000|        2|
|      1991|             Dürnten|        145|850000|        6|
|      2017|              Malans|        108|843180|        2|
+----------+--------------------+-----------+------+---------+
only showing top 4 rows

In [22]:
selected_df.withColumn('year_name',concat(col('build_year'),lit(" - "),col('municipality_name'))).show(3)

+----------+-----------------+-----------+------+---------+--------------------+
|build_year|municipality_name|living_area| price|num_rooms|           year_name|
+----------+-----------------+-----------+------+---------+--------------------+
|      1990|          Vitznau|        110|815000|        3|      1990 - Vitznau|
|      2017| Klosters-Serneus|        120|890000|        3|2017 - Klosters-S...|
|      2010|      Préverenges|        107|870000|        4|  2010 - Préverenges|
+----------+-----------------+-----------+------+---------+--------------------+
only showing top 3 rows

In [23]:
house_df.select('lat').show(3)

+-----------+
|        lat|
+-----------+
|47.00980759|
|46.87217712|
|46.51917267|
+-----------+
only showing top 3 rows

In [24]:
house_df.select(ceil(col('lat')).alias('latitude')).show(3)

+--------+
|latitude|
+--------+
|      48|
|      47|
|      47|
+--------+
only showing top 3 rows

In [25]:
selected_df.withColumnRenamed('municipality_name','m_name').show(3)

+----------+----------------+-----------+------+---------+
|build_year|          m_name|living_area| price|num_rooms|
+----------+----------------+-----------+------+---------+
|      1990|         Vitznau|        110|815000|        3|
|      2017|Klosters-Serneus|        120|890000|        3|
|      2010|     Préverenges|        107|870000|        4|
+----------+----------------+-----------+------+---------+
only showing top 3 rows

In [26]:
selected_df.select("price").dtypes

[('price', 'int')]

In [27]:
selected_df.withColumn('price_type',col('price').cast(DoubleType())).show(3)

+----------+-----------------+-----------+------+---------+----------+
|build_year|municipality_name|living_area| price|num_rooms|price_type|
+----------+-----------------+-----------+------+---------+----------+
|      1990|          Vitznau|        110|815000|        3|  815000.0|
|      2017| Klosters-Serneus|        120|890000|        3|  890000.0|
|      2010|      Préverenges|        107|870000|        4|  870000.0|
+----------+-----------------+-----------+------+---------+----------+
only showing top 3 rows

In [28]:
selected_df.groupBy('build_year').agg({'price': 'mean'}).show(3)

+----------+------------------+
|build_year|        avg(price)|
+----------+------------------+
|      1829|         1250000.0|
|      1990|1190294.1176470588|
|      1975|1343333.3333333333|
+----------+------------------+
only showing top 3 rows

In [29]:
selected_df.agg({'living_area':'max'}).show()

+----------------+
|max(living_area)|
+----------------+
|            1226|
+----------------+

In [30]:
selected_df.agg({'living_area':'min'}).show()

+----------------+
|min(living_area)|
+----------------+
|              46|
+----------------+