In [1]:
import findspark
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import *
from pyspark.sql.types import *
spark = SparkSession.builder.getOrCreate() 
findspark.init()
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

Requirement already satisfied: findspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.0)
Requirement already satisfied: pyspark in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pyspark) (0.10.7)

In [2]:
# inferSchema automatically guess the data types for each field.
house_df = spark.read.csv('house_data.csv',inferSchema= True, header = True)

In [3]:
house_df.printSchema()

root
 |-- build_year: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- living_area: integer (nullable = true)
 |-- long: double (nullable = true)
 |-- municipality_name: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- num_rooms: integer (nullable = true)
 |-- object_type_name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- water_percentage_1000: double (nullable = true)
 |-- travel_time_private_transport: integer (nullable = true)
 |-- travel_time_public_transport: integer (nullable = true)
 |-- number_of_buildings_in_hectare: integer (nullable = true)
 |-- number_of_apartments_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_1_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_2_in_hectare: integer (nullable = true)
 |-- number_of_workplaces_sector_3_in_hectare: integer (nullable = true)
 |-- population_in_hectare: integer (nullable = true)

In [4]:
house_df.describe()

DataFrame[summary: string, build_year: string, lat: string, living_area: string, long: string, municipality_name: string, zipcode: string, num_rooms: string, object_type_name: string, price: string, water_percentage_1000: string, travel_time_private_transport: string, travel_time_public_transport: string, number_of_buildings_in_hectare: string, number_of_apartments_in_hectare: string, number_of_workplaces_in_hectare: string, number_of_workplaces_sector_1_in_hectare: string, number_of_workplaces_sector_2_in_hectare: string, number_of_workplaces_sector_3_in_hectare: string, population_in_hectare: string]

In [5]:
house_df.take(2)

[Row(build_year=1990, lat=47.00980759, living_area=110, long=8.483789444, municipality_name='Vitznau', zipcode=6354, num_rooms=3, object_type_name='Wohnung', price=815000, water_percentage_1000=0.400565383, travel_time_private_transport=35, travel_time_public_transport=102, number_of_buildings_in_hectare=10, number_of_apartments_in_hectare=26, number_of_workplaces_in_hectare=7, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=7, population_in_hectare=34),
 Row(build_year=2017, lat=46.87217712, living_area=120, long=9.88018322, municipality_name='Klosters-Serneus', zipcode=7250, num_rooms=3, object_type_name='Wohnung', price=890000, water_percentage_1000=0.008272204, travel_time_private_transport=85, travel_time_public_transport=112, number_of_buildings_in_hectare=7, number_of_apartments_in_hectare=54, number_of_workplaces_in_hectare=3, number_of_workplaces_sector_1_in_hectare=0, number_of_workplaces_sector_2_in_hectare=0, number_of_workplaces_sector_3_in_hectare=3, population_in_hectare=44)]

In [6]:
house_df.show(3)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
|      2010|46.51917267|        107|6.525881767|      Préverenges|   1028|        4|         Wohnung|870000|          0.140533804|                            9|                          25|                             5|                             39|                              3|                                       0|                                       3|                                       0|                   89|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 3 rows

In [7]:
display(house_df)

DataFrame[build_year: int, lat: double, living_area: int, long: double, municipality_name: string, zipcode: int, num_rooms: int, object_type_name: string, price: int, water_percentage_1000: double, travel_time_private_transport: int, travel_time_public_transport: int, number_of_buildings_in_hectare: int, number_of_apartments_in_hectare: int, number_of_workplaces_in_hectare: int, number_of_workplaces_sector_1_in_hectare: int, number_of_workplaces_sector_2_in_hectare: int, number_of_workplaces_sector_3_in_hectare: int, population_in_hectare: int]

In [8]:
# another way to read data from csv
h_df = spark.read.format("csv").option("inferSchema", True).option("header",True).load("house_data.csv")

In [9]:
h_df.show(2)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 2 rows

In [10]:
h_df.registerTempTable("h_table")

In [11]:
sqlContext.sql('select * from h_table').show(2)

+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|build_year|        lat|living_area|       long|municipality_name|zipcode|num_rooms|object_type_name| price|water_percentage_1000|travel_time_private_transport|travel_time_public_transport|number_of_buildings_in_hectare|number_of_apartments_in_hectare|number_of_workplaces_in_hectare|number_of_workplaces_sector_1_in_hectare|number_of_workplaces_sector_2_in_hectare|number_of_workplaces_sector_3_in_hectare|population_in_hectare|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
|      1990|47.00980759|        110|8.483789444|          Vitznau|   6354|        3|         Wohnung|815000|          0.400565383|                           35|                         102|                            10|                             26|                              7|                                       0|                                       0|                                       7|                   34|
|      2017|46.87217712|        120| 9.88018322| Klosters-Serneus|   7250|        3|         Wohnung|890000|          0.008272204|                           85|                         112|                             7|                             54|                              3|                                       0|                                       0|                                       3|                   44|
+----------+-----------+-----------+-----------+-----------------+-------+---------+----------------+------+---------------------+-----------------------------+----------------------------+------------------------------+-------------------------------+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+---------------------+
only showing top 2 rows

In [12]:
selected_df = house_df.select('build_year','municipality_name','living_area','price', 'num_rooms')

In [13]:
selected_df.show(4)

+----------+-----------------+-----------+------+---------+
|build_year|municipality_name|living_area| price|num_rooms|
+----------+-----------------+-----------+------+---------+
|      1990|          Vitznau|        110|815000|        3|
|      2017| Klosters-Serneus|        120|890000|        3|
|      2010|      Préverenges|        107|870000|        4|
|      2018|           Bülach|        103|829000|        3|
+----------+-----------------+-----------+------+---------+
only showing top 4 rows

In [14]:
selected_df.count()

998

In [15]:
selected_df.select('living_area').distinct().count()

166

In [16]:
# Remove duplicates
selected_df.dropDuplicates(subset = ['living_area']).count()

166

In [17]:
#  withColumn takes two argument. 1. column name, 2. column value
selected_df.withColumn('test_column',lit('this is a test')).show(3)

+----------+-----------------+-----------+------+---------+--------------+
|build_year|municipality_name|living_area| price|num_rooms|   test_column|
+----------+-----------------+-----------+------+---------+--------------+
|      1990|          Vitznau|        110|815000|        3|this is a test|
|      2017| Klosters-Serneus|        120|890000|        3|this is a test|
|      2010|      Préverenges|        107|870000|        4|this is a test|
+----------+-----------------+-----------+------+---------+--------------+
only showing top 3 rows

In [18]:
selected_df.withColumn('price_label',when(col('price')>890000,lit('expensive')).otherwise('Reasonable')).show()

+----------+-------------------+-----------+------+---------+-----------+
|build_year|  municipality_name|living_area| price|num_rooms|price_label|
+----------+-------------------+-----------+------+---------+-----------+
|      1990|            Vitznau|        110|815000|        3| Reasonable|
|      2017|   Klosters-Serneus|        120|890000|        3| Reasonable|
|      2010|        Préverenges|        107|870000|        4| Reasonable|
|      2018|             Bülach|        103|829000|        3| Reasonable|
|      2007|Celerina/Schlarigna|         95|865000|        3| Reasonable|
|      2015|              Augst|        112|849000|        4| Reasonable|
|      2016|             Lindau|        119|840000|        4| Reasonable|
|      1978|          Binningen|         96|895000|        3|  expensive|
|      1990|   Klosters-Serneus|        127|865000|        3| Reasonable|
|      2008|         Einsiedeln|        110|870000|        4| Reasonable|
|      2018|    Arzier-Le Muids|        118|847000|        4| Reasonable|
|      2015|      Münsterlingen|        137|890000|        4| Reasonable|
|      2017|              Spiez|        109|870000|        4| Reasonable|
|      2018|      Niederhünigen|        177|710000|        5| Reasonable|
|      1973|              Davos|        100|765000|        5| Reasonable|
|      2005|             Sagogn|        104|852000|        4| Reasonable|
|      1967|              Ollon|         92|895000|        3|  expensive|
|      2017|       Bürglen (TG)|        130|893000|        4|  expensive|
|      2017|       Altdorf (UR)|        117|880000|        3| Reasonable|
|      2001|         Einsiedeln|        137|835000|        4| Reasonable|
+----------+-------------------+-----------+------+---------+-----------+
only showing top 20 rows

In [19]:
selected_df.drop(col('living_area')).show(3)

+----------+-----------------+------+---------+
|build_year|municipality_name| price|num_rooms|
+----------+-----------------+------+---------+
|      1990|          Vitznau|815000|        3|
|      2017| Klosters-Serneus|890000|        3|
|      2010|      Préverenges|870000|        4|
+----------+-----------------+------+---------+
only showing top 3 rows

In [20]:
selected_df.filter(col('municipality_name').like("%au")).show()

+----------+-----------------+-----------+-------+---------+
|build_year|municipality_name|living_area|  price|num_rooms|
+----------+-----------------+-----------+-------+---------+
|      1990|          Vitznau|        110| 815000|        3|
|      2016|           Lindau|        119| 840000|        4|
|      2019|          Menznau|        123| 820000|        4|
|      2007|       Diepoldsau|        145| 820000|        4|
|      2008|            Aarau|        110| 885000|        3|
|      2015|            Aarau|        120| 860000|        3|
|      2019|       Diepoldsau|        142| 855000|        4|
|      2009|          Eglisau|        100| 850000|        4|
|      2015|            Aarau|        101| 800000|        2|
|      2015|            Aarau|        119| 860000|        4|
|      1983|           Gersau|        150| 850000|        6|
|      1983|          Eglisau|        152| 835000|        5|
|      1992|         Wollerau|        102| 960000|        3|
|      2018|          Aristau|        198| 965000|        5|
|      2014|            Aarau|        131| 940000|        4|
|      2011|          Hittnau|        161|1155000|        4|
|      2014|            Aarau|        131| 940000|        4|
|      2016|          Vitznau|        199|2960000|        4|
|      2013|          Eglisau|        141| 998000|        4|
|      2013|          Vitznau|        125|1230000|        4|
+----------+-----------------+-----------+-------+---------+
only showing top 20 rows

In [21]:
selected_df.filter(col('num_rooms').isin(2,6)).show(4)

+----------+--------------------+-----------+------+---------+
|build_year|   municipality_name|living_area| price|num_rooms|
+----------+--------------------+-----------+------+---------+
|      2015|               Aarau|        101|800000|        2|
|      2018|Oetwil an der Limmat|         82|850000|        2|
|      1991|             Dürnten|        145|850000|        6|
|      2017|              Malans|        108|843180|        2|
+----------+--------------------+-----------+------+---------+
only showing top 4 rows

In [22]:
selected_df.withColumn('year_name',concat(col('build_year'),lit(" - "),col('municipality_name'))).show(3)

+----------+-----------------+-----------+------+---------+--------------------+
|build_year|municipality_name|living_area| price|num_rooms|           year_name|
+----------+-----------------+-----------+------+---------+--------------------+
|      1990|          Vitznau|        110|815000|        3|      1990 - Vitznau|
|      2017| Klosters-Serneus|        120|890000|        3|2017 - Klosters-S...|
|      2010|      Préverenges|        107|870000|        4|  2010 - Préverenges|
+----------+-----------------+-----------+------+---------+--------------------+
only showing top 3 rows

In [23]:
house_df.select('lat').show(3)

+-----------+
|        lat|
+-----------+
|47.00980759|
|46.87217712|
|46.51917267|
+-----------+
only showing top 3 rows

In [24]:
house_df.select(ceil(col('lat')).alias('latitude')).show(3)

+--------+
|latitude|
+--------+
|      48|
|      47|
|      47|
+--------+
only showing top 3 rows

In [25]:
# Rename column
selected_df.withColumnRenamed('municipality_name','m_name').show(3)

+----------+----------------+-----------+------+---------+
|build_year|          m_name|living_area| price|num_rooms|
+----------+----------------+-----------+------+---------+
|      1990|         Vitznau|        110|815000|        3|
|      2017|Klosters-Serneus|        120|890000|        3|
|      2010|     Préverenges|        107|870000|        4|
+----------+----------------+-----------+------+---------+
only showing top 3 rows

In [26]:
selected_df.select("price").dtypes

[('price', 'int')]

In [27]:
# Type casting
selected_df.withColumn('price_type',col('price').cast(DoubleType())).show(3)

+----------+-----------------+-----------+------+---------+----------+
|build_year|municipality_name|living_area| price|num_rooms|price_type|
+----------+-----------------+-----------+------+---------+----------+
|      1990|          Vitznau|        110|815000|        3|  815000.0|
|      2017| Klosters-Serneus|        120|890000|        3|  890000.0|
|      2010|      Préverenges|        107|870000|        4|  870000.0|
+----------+-----------------+-----------+------+---------+----------+
only showing top 3 rows

In [28]:
selected_df.groupBy('build_year').agg({'price': 'mean'}).show(3)

+----------+------------------+
|build_year|        avg(price)|
+----------+------------------+
|      1829|         1250000.0|
|      1990|1190294.1176470588|
|      1975|1343333.3333333333|
+----------+------------------+
only showing top 3 rows

In [29]:
# find max value of column
selected_df.agg({'living_area':'max'}).show()

+----------------+
|max(living_area)|
+----------------+
|            1226|
+----------------+

In [30]:
selected_df.agg({'living_area':'min'}).show()

+----------------+
|min(living_area)|
+----------------+
|              46|
+----------------+

In [31]:
selected_df.select('municipality_name').distinct().show()

+--------------------+
|   municipality_name|
+--------------------+
|           Männedorf|
|      Unterentfelden|
|              Riehen|
|         Adligenswil|
|               Arosa|
|             Zumikon|
|           Pfäffikon|
|              Stadel|
|          Herrliberg|
|         Schmiedrued|
|          Grellingen|
|             Vitznau|
|Feldbrunnen-St. N...|
|          Glarus Süd|
|  La Punt-Chamues-ch|
|          Romanshorn|
|        Spreitenbach|
|      Kilchberg (ZH)|
|             Muttenz|
|    Estavayer-le-Lac|
+--------------------+
only showing top 20 rows

In [32]:
# calculate square of a column
selected_df.select('*',pow(col('num_rooms'),2).cast(IntegerType()).alias('num_rooms_squared')).show(4)

+----------+-----------------+-----------+------+---------+-----------------+
|build_year|municipality_name|living_area| price|num_rooms|num_rooms_squared|
+----------+-----------------+-----------+------+---------+-----------------+
|      1990|          Vitznau|        110|815000|        3|                9|
|      2017| Klosters-Serneus|        120|890000|        3|                9|
|      2010|      Préverenges|        107|870000|        4|               16|
|      2018|           Bülach|        103|829000|        3|                9|
+----------+-----------------+-----------+------+---------+-----------------+
only showing top 4 rows

In [33]:
# to computes a pair-wise frequency table of the given columns.
# cross table , method 1
selected_df.filter((col('build_year')==2015) & (col('price')>=1000000)).crosstab('num_rooms', 'price').show(4)

+---------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|num_rooms_price|1010000|1030000|1150000|1170000|1190000|1200000|1250000|1255000|1290000|1340000|1395000|1490000|1530000|1570000|1810000|1830000|1980000|2200000|2750000|
+---------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|              5|      0|      0|      1|      1|      0|      0|      1|      0|      1|      0|      0|      1|      0|      1|      0|      0|      0|      0|      0|
|              6|      0|      0|      0|      0|      0|      0|      0|      1|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|              2|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      1|      0|      1|      0|      0|
|              3|      1|      0|      0|      0|      0|      1|      1|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|      1|
+---------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 4 rows

In [34]:
# cross table : method 2
selected_df.filter((col('build_year')==2015) & (col('price')>=1000000)).groupBy('num_rooms', 'price').count().orderBy('num_rooms').show(8)

+---------+-------+-----+
|num_rooms|  price|count|
+---------+-------+-----+
|        2|1980000|    1|
|        2|1810000|    1|
|        3|1200000|    1|
|        3|1010000|    1|
|        3|1250000|    1|
|        3|2750000|    1|
|        4|1395000|    1|
|        4|1290000|    1|
+---------+-------+-----+
only showing top 8 rows

In [35]:
# Re arrange the column
selected_df.select('num_rooms','price','build_year','municipality_name','living_area').show(3)

+---------+------+----------+-----------------+-----------+
|num_rooms| price|build_year|municipality_name|living_area|
+---------+------+----------+-----------------+-----------+
|        3|815000|      1990|          Vitznau|        110|
|        3|890000|      2017| Klosters-Serneus|        120|
|        4|870000|      2010|      Préverenges|        107|
+---------+------+----------+-----------------+-----------+
only showing top 3 rows

In [36]:
# Re order the column in ascending order
selected_df.select(sorted(selected_df.columns)).show(3)

+----------+-----------+-----------------+---------+------+
|build_year|living_area|municipality_name|num_rooms| price|
+----------+-----------+-----------------+---------+------+
|      1990|        110|          Vitznau|        3|815000|
|      2017|        120| Klosters-Serneus|        3|890000|
|      2010|        107|      Préverenges|        4|870000|
+----------+-----------+-----------------+---------+------+
only showing top 3 rows

In [37]:
# Re order the column in descending order
selected_df.select(sorted(selected_df.columns, reverse=True)).show(3)

+------+---------+-----------------+-----------+----------+
| price|num_rooms|municipality_name|living_area|build_year|
+------+---------+-----------------+-----------+----------+
|815000|        3|          Vitznau|        110|      1990|
|890000|        3| Klosters-Serneus|        120|      2017|
|870000|        4|      Préverenges|        107|      2010|
+------+---------+-----------------+-----------+----------+
only showing top 3 rows

In [38]:
import sys
from pyspark.sql.window import Window

In [39]:
df = sqlContext.createDataFrame( [(1,10,"a"),(3,2,"a"),(1,2,"b"),(2,5,"a"),(2,1,"b"),(9,0,"b"),(4,1,"b"),(7,8,"a"),(3,8,"b"),(2,5,"a"),(0,0,"a"),(4,3,"a")], 
                                 ["time", "value", "class"] )

In [40]:
df.show()

+----+-----+-----+
|time|value|class|
+----+-----+-----+
|   1|   10|    a|
|   3|    2|    a|
|   1|    2|    b|
|   2|    5|    a|
|   2|    1|    b|
|   9|    0|    b|
|   4|    1|    b|
|   7|    8|    a|
|   3|    8|    b|
|   2|    5|    a|
|   0|    0|    a|
|   4|    3|    a|
+----+-----+-----+

In [41]:
df.printSchema()

root
 |-- time: long (nullable = true)
 |-- value: long (nullable = true)
 |-- class: string (nullable = true)

In [42]:
# comulative sum
df.withColumn('cumsum_value', sum(df.value).over(Window.partitionBy('class').orderBy('time'))).show()

+----+-----+-----+------------+
|time|value|class|cumsum_value|
+----+-----+-----+------------+
|   1|    2|    b|           2|
|   2|    1|    b|           3|
|   3|    8|    b|          11|
|   4|    1|    b|          12|
|   9|    0|    b|          12|
|   0|    0|    a|           0|
|   1|   10|    a|          10|
|   2|    5|    a|          20|
|   2|    5|    a|          20|
|   3|    2|    a|          22|
|   4|    3|    a|          25|
|   7|    8|    a|          33|
+----+-----+-----+------------+

In [43]:
# row number of each row in a class
df.withColumn("row_num", row_number().over(Window.partitionBy("class").orderBy("time"))).show()

+----+-----+-----+-------+
|time|value|class|row_num|
+----+-----+-----+-------+
|   1|    2|    b|      1|
|   2|    1|    b|      2|
|   3|    8|    b|      3|
|   4|    1|    b|      4|
|   9|    0|    b|      5|
|   0|    0|    a|      1|
|   1|   10|    a|      2|
|   2|    5|    a|      3|
|   2|    5|    a|      4|
|   3|    2|    a|      5|
|   4|    3|    a|      6|
|   7|    8|    a|      7|
+----+-----+-----+-------+

In [44]:
w1=Window().partitionBy("class").orderBy("time")
w2=Window().partitionBy("class").orderBy('rownum')
df.withColumn('rownum', row_number().over(w1)).withColumn('cumsum_value', sum("value").over(w2)).drop('rownum').show()

+----+-----+-----+------------+
|time|value|class|cumsum_value|
+----+-----+-----+------------+
|   1|    2|    b|           2|
|   2|    1|    b|           3|
|   3|    8|    b|          11|
|   4|    1|    b|          12|
|   9|    0|    b|          12|
|   0|    0|    a|           0|
|   1|   10|    a|          10|
|   2|    5|    a|          15|
|   2|    5|    a|          20|
|   3|    2|    a|          22|
|   4|    3|    a|          25|
|   7|    8|    a|          33|
+----+-----+-----+------------+

In [45]:
# percentage of a column 
df.withColumn('percetange', df.value/(sum(df.value).over(Window.partitionBy('class')))*100).show()

+----+-----+-----+------------------+
|time|value|class|        percetange|
+----+-----+-----+------------------+
|   1|    2|    b|16.666666666666664|
|   2|    1|    b| 8.333333333333332|
|   9|    0|    b|               0.0|
|   4|    1|    b| 8.333333333333332|
|   3|    8|    b| 66.66666666666666|
|   1|   10|    a|30.303030303030305|
|   3|    2|    a|6.0606060606060606|
|   2|    5|    a|15.151515151515152|
|   7|    8|    a|24.242424242424242|
|   2|    5|    a|15.151515151515152|
|   0|    0|    a|               0.0|
|   4|    3|    a| 9.090909090909092|
+----+-----+-----+------------------+

In [46]:
# cumsum of percentazge of column 
w1=Window().partitionBy("class").orderBy("time")
w2=Window().partitionBy("class").orderBy('rownum')
w3=Window().partitionBy("class")
df.withColumn('rownum',row_number().over(w1)).withColumn('percentage', df.value/(sum(df.value).over(w3))*100)\
    .withColumn('cumsum_per',sum("percentage").over(w2)).drop('rownum').show()

+----+-----+-----+------------------+------------------+
|time|value|class|        percentage|        cumsum_per|
+----+-----+-----+------------------+------------------+
|   1|    2|    b|16.666666666666664|16.666666666666664|
|   2|    1|    b| 8.333333333333332|24.999999999999996|
|   3|    8|    b| 66.66666666666666| 91.66666666666666|
|   4|    1|    b| 8.333333333333332| 99.99999999999999|
|   9|    0|    b|               0.0| 99.99999999999999|
|   0|    0|    a|               0.0|               0.0|
|   1|   10|    a|30.303030303030305|30.303030303030305|
|   2|    5|    a|15.151515151515152| 45.45454545454545|
|   2|    5|    a|15.151515151515152| 60.60606060606061|
|   3|    2|    a|6.0606060606060606| 66.66666666666667|
|   4|    3|    a| 9.090909090909092| 75.75757575757576|
|   7|    8|    a|24.242424242424242|             100.0|
+----+-----+-----+------------------+------------------+

In [47]:
df.select("class").printSchema()

root
 |-- class: string (nullable = true)